<div style="">
<div style="width: 400px;margin:0 auto;">
    <form action="/user/login" method="POST">
        <div class="container">
            <!-- 用户名 -->
            <label><b>User Name</b></label>
            <input type="text" placeholder="Enter Username" name="userName" required>

            <!-- 密码 -->
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <!-- 登录 -->
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
</div>
