<form aciton="/user/register" method="post">
    <div class="container">
        <!-- 别名 -->
        <label><b>Nick Name</b></label>
        <!-- 输入别名 -->
        <input type="text" placeholder="Enter nick name" name="nickName" required>
        <!-- 用户名 -->
        <label><b>User Name</b></label>
        <!-- 输入用户名 -->
        <input type="text" placeholder="Enter user name" name="userName" required>
        <!-- 密码 -->
        <label><b>Password</b></label>
        <!-- 输入密码 -->
        <input type="text" placeholder="Enter password" name="password" required>
        <!-- 提交 -->
        <button type="submit">Submit</button>
    </div>

</form>