<div class="page-head">
    <!-- 商品管理 -->
    <h2 class="page-head-title">Product Management</h2>

</div>

<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-border-color panel-border-color-primary">
                <!-- 添加商品 -->
                <div class="panel-heading panel-heading-divider">Add Product<span class="panel-subtitle"></span></div>
                <div class="panel-body">
                    <form action="/product/add" style="border-radius: 0px;" class="form-horizontal group-border-dashed" method="post" >

                        <div class="form-group">
                            <!-- 商品名称 -->
                            <label class="col-sm-3 control-label">Product name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="ProductName"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- 商品数量 -->
                            <label class="col-sm-3 control-label">Product quantity</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="ProductNum"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- 商品图片地址 -->
                            <label class="col-sm-3 control-label">Product image URL</label>
                            <div class="col-sm-6">
                                <input type="text"   class="form-control" name="ProductImage"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- 商品访问链接 -->
                            <label class="col-sm-3 control-label">Product access link</label>
                            <div class="col-sm-6">
                                <input type="text"   class="form-control" name="ProductUrl"  >
                            </div>
                        </div>
                        <div class="row xs-pt-15">
                            <div class="col-xs-6">
                                <p class="text-right">
                                    <!-- 添加 -->
                                    <button type="submit" class="btn btn-space btn-primary">Add</button>
                                    <!-- 重置 -->
                                    <button class="btn btn-space btn-default" type="reset">Reset</button>
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

